
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <span class="breadcrumb-item active">Products</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

@await Component.InvokeAsync("_CarouselDeafultComponentPartial")
@await Component.InvokeAsync("_FeatureDefaultComponentPartial")
@await Component.InvokeAsync("_CategoriesDefaultComponentPartial")
@await Component.InvokeAsync("_MostProductsDefaultComponentPartial")
@await Component.InvokeAsync("_OfferDiscountDefaultComponentPartial")
@await Component.InvokeAsync("_VendorDefaultComponentPartial")