<section class="content-header">
    <h1>@ViewBag.list</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> @ViewBag.navigation1</a></li>

        <li class="active"><i class="fa fa-bars"></i> @ViewBag.navigation2</li>
    </ol>
</section>