@model CreateCategoryDto
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
	<div class="row">

		<div class="col-md-12">
			<div class="chart-box">


				<div class="bs-example" data-example-id="bordered-table">
					<form method="post">
						<div class="form-group">
							<label for="categoryName">Category Name</label>
							<input type="text" class="form-control"  asp-for="CategoryName" placeholder="Enter category name">
						</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
					
				</div>
			</div>
		</div>

	</div>
</section>

